$brand-background: #F6F9FA;
$brand-font-color: #212020;
$brand-primary: #14283D;
$brand-secondary: #134AC1;
$brand-yellow: #FFB830;
$brand-green: rgb(62, 187, 133);
$brand-red: #f6605f;
$brand-blue: rgb(44, 31, 155);
$brand-orange: #F3A43A;
$brand-yellow: #F0B725;
$brand-purple: rgb(119, 105, 233);
$brand-light-purple: rgba(119, 105, 233, 0.2);